<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vybraná třída</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" th:href="@{/}">Seznam členů</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        </div>
    </div>
</nav>

<main class="container">
    <form class="row g-3" th:classappend="${#fields.hasErrors('trida.*')} ? 'was-validated'" method="post">
        <div class="col-md-6">
            <label for="trida" class="form-label">Třída</label>
            <input type="text" class="form-control" th:field="${trida.nazev}" maxlength="100" required>
        </div>
        <div class="col-md-6">
            <label for="zaci" class="form-label">Seznam žáků</label>
            <input type="text" class="form-control" th:field="${osoba.prijmeni}" maxlength="100" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('osoba.prijmeni')}" th:errors="${osoba.prijmeni}">Příjmení je povinný údaj.</div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button th:if="${osoba.id} == null" type="submit" class="btn btn-primary">Přidat</button>
            <button th:if="${osoba.id} != null" type="submit" class="btn btn-light" name="akce" value="smazat">Smazat</button>
            <button th:if="${osoba.id} != null" type="submit" class="btn btn-primary">Uložit</button>
        </div>
    </form>
</main>
</body>
</html>