<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vybraná třída</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<main class="container">
    <h1>Seznam žáků vybrané třídy</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Třída:</th>
        </tr>
        <tr>
            <td th:text="${trida.nazev}">Třída</td>
        </tr>
        <tr>
            <th>Třídní učitel:</th>
        </tr>
        <tr>
            <td th:text="${trida.tridniUcitel.toString()}">Třída</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detailTridy: ${trida.studenti}">
            <td>
                <a th:href="@{/student/{idStudent}(idStudent=${detailTridy.id})}"
                   th:text="${detailTridy.toString()}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/" role="button">Seznam tříd</a>
</main>
</body>
</html>