<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Seznam tříd</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<main class="container">
    <h1>Seznam tříd</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Název třídy</th>
            <th>Třídní učitel</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tridy: ${seznam}">
            <td th:text="${tridy.nazev}">třída</td>
            <td th:text="${tridy.tridniUcitel}">učitel</td>
            <td class="d-flex justify-content-end"><a href="/1" th:href="@{/{id}(id=${tridy.id})}" class="btn btn-primary">Detail</a></td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>